
services:

  database:
    container_name: database
    image: registry.sedrehgroup.ir/postgis:latest
    ports:
     - "5432:5432"
    env_file:
     - .env
    restart: unless-stopped
    volumes:
      - database_volume:/var/lib/postgresql/data


  redis:
    container_name: redis_cache
    image: registry.sedrehgroup.ir/redis:latest
    env_file:
     - .env
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    restart: unless-stopped
    volumes:
      - redis_data:/data

  pgadmin:
    container_name: pgadmin
    ports:
     - "5050:80"
    image: registry.sedrehgroup.ir/pgadmin4
    env_file:
      - .env

volumes:
  database_volume:
  redis_data:


